<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="test/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap:; connect-src *; style-src 'self' 'unsafe-inline'; media-src *; img-src * blob: data:; object-src 'none'; script-src 'self' 'unsafe-inline' data: gap:; "> -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap:; connect-src *; style-src 'self' 'unsafe-inline' framasoft.org; media-src *; img-src * blob: data:; object-src 'none'; script-src 'self' 'unsafe-inline' framasoft.org stats.framasoft.org data: gap:; font-src 'self' framasoft.org data: gap:;">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>Framanotes</title>

		<link rel="shortcut icon" href="images/favicon-vert.png" type="image/png">

{{extra}}
{{gencss}}
{{genjs}}

	</head>
	<body class="initial loggedout">
		<div id="wrap">
			<header></header>
			<div id="sidebar"></div>

			<div id="app">
				<div id="nav"></div>
				<div id="main"></div>
			</div>
		</div>
		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(["setDomains", ["*.framanotes.org"]]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//stats.framasoft.org/";
				_paq.push(['setTrackerUrl', u+'p.php']);
				_paq.push(['setSiteId', '52']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><p><img src="//stats.framasoft.org/p.php?idsite=52" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->
	</body>
</html>

