<div class="markdown-tutorial content">
	<p>
		{{t 'Turtl notes use Markdown, a format that\'s easy to read and write and doesn\'t require a clunky editor.'}}
	</p>

	<ul>
		<li>
			<div># {{t 'One hash makes a large title'}}</div>
			<div><h1>{{t 'One hash makes a large title'}}</h1></div>
		</li>
		<li>
			<div>## {{t 'Two hashes for a smaller header'}}</div>
			<div><h2>{{t 'Two hashes for a smaller header'}}</h2></div>
		</li>
		<li>
			<div>- {{t 'dashes<br>- make<br>- bullets'}}</div>
			<div><ul><li>{{t 'dashes</li><li>make</li><li>bullets'}}</li></ul></div>
		</li>
		<li>
			<div>1. {{t 'you can make<br>1. numbered bullets<br>1. as well'}}</div>
			<div><ol><li>{{t 'you can make</li><li>numbered bullets</li><li>as well'}}</li></ol></div>
		</li>
		<li>
			<div>- [ ] {{t 'todo lists'}}<br>- [X] {{t 'works too'}}</div>
			<div>
				<ul class="task-list">
					<li class="task-list-item"><input class="task-list-item-checkbox" disabled="" type="checkbox"> {{t 'todo lists' }}</li>
					<li class="task-list-item"><input class="task-list-item-checkbox" checked="" disabled="" type="checkbox"> {{t 'works too'}}</li>
				</ul>
			</div>
		</li>
		<li>
			<div>{{t '[Making links](https://turtl.it) is easy!'}}</div>
			<div><a target="_blank" href="https://turtl.it/">{{t 'Making links</a> is easy!'}}</div>
		</li>
		<li>
			<div>{{t 'You can also make text __bold__, *italic* or ~~strikethrough~~.'}}</div>
			<div>{{t 'You can also make text <strong>bold</strong>, <em>italic</em> or <strike>strikethrough</strike>.'}}</div>
		</li>
		<li>
			<div>{{t 'Here\'s an image:<br>![](https://turtl.it/images<space> </space>/favicon.png)'}}</div>
			<div>{{t 'Here\'s an image: '}}<img src="https://turtl.it/images/favicon.png" alt=""></div>
		</li>
		<li>
			<div>&gt; {{t 'Quote text with a caret'}}</div>
			<div><blockquote>{{t 'Quote text with a caret'}}</blockquote></div>
		</li>
		<li>
			<div>
				{{! &nbsp;&nbsp;&nbsp;&nbsp;indent_code_4_spaces() {}<br><br> }}
				```<br>
				surround(<space> </space>code.by(<space> </space>'three backticks'<space> </space>));<br>
				```
			</div>
			<div>
				{{! <pre><code>indent_code_4_spaces() {}</code></pre> }}
				<pre><code>surround(code.by('three backticks'));</code></pre>
			</div>
		</li>
		<li>
			<div>
				{{t 'Use backticks for `inline_code()`'}}
			</div>
			<div>
				{{t 'Use backticks for <code>inline_code()</code>'}}
			</div>
		</li>
	</ul>

	<span class="markdown-link form-note">{{t 'Read more about <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a>.'}}</span>
	<br><br>

	{{!--
	<p>
		{{t 'Turtl now also supports TeX math. Begin and end your equation(s) with <code>$$</code>:'}}
	</p>
	<table>
		<tr>
			<td>$$ P(E)   = {n \\choose k} p^k (1-p)^{ n-k} $$</td>
			<td><pre class="math">P(E)   = {n \\choose k} p^k (1-p)^{ n-k}</pre></td>
		</tr>
		<tr>
			<td>
				$$<br>
				\\begin{aligned}<br>
				\\dot{x} &amp; = \\sigma(y-x) \\\\<br>
				\\dot{y} &amp; = \\rho x - y - xz \\\\<br>
				\\dot{z} &amp; = -\\beta z + xy<br>
				\\end{aligned}<br>
				$$
			</td>
			<td><pre class="math">\\begin{aligned}
\\dot{x} & = \\sigma(y-x) \\\\
\\dot{y} & = \\rho x - y - xz \\\\
\\dot{z} & = -\\beta z + xy
\\end{aligned}</pre></td>
		</tr>
	</table>
	--}}
</div>
